In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from scipy import stats
from scipy import stats
from scipy.stats import norm, skew #for some statistics
from scipy.stats import zscore
from scipy.stats import chi2_contingency
#import prince
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_log_error
from sklearn.svm import SVR
from math import sqrt
#from mlxtend.regressor import StackingCVRegressor

#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

## Import Data

In [35]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

#train_df.dtypes
#train_df.columns
#test_df.head()
train_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
def dothecorrplot():
    corr = train_df.select_dtypes(include = ['float64', 'int64']).iloc[:,1:].corr()

    # Generate a mask for the upper triangle
    mask = np.triu(np.ones_like(corr, dtype=np.bool))
    # Generate a custom diverging colormap
    cmap = sns.diverging_palette(220, 10, as_cmap=True)

    # Set up the matplotlib figure
    f = plt.subplots(figsize=(15, 15),dpi=300)

    ax = sns.heatmap(corr, mask = mask, cmap=cmap, vmax=.3, center=0,
                square=True, linewidths=.5, cbar_kws={"shrink": .5})

    sns.set(style = 'white', font_scale=1) 

    # Fix top bottom half
    bottom, top = ax.get_ylim()
    ax.set_ylim(bottom + 0.5, top - 0.5)
    
    corr_list = corr['SalePrice'].sort_values(axis=0,ascending=False).iloc[1:]
    print(corr_list[:5])
#dothecorrplot()

## Fix Data

From str to num

In [4]:
# Handling Outliers
#train_df.sort_values(by = 'GrLivArea', ascending = False)[:2]
train_df = train_df.drop(train_df[train_df['Id'] == 1299].index)
train_df = train_df.drop(train_df[train_df['Id'] == 524].index)
train_df = train_df.reset_index(drop=True)

# Combine train and test, separate SalePrice from rest of train
data_all = pd.concat([train_df,test_df],sort=False,ignore_index=True).drop(['SalePrice'], axis=1)

In [5]:
processed_df = data_all.copy()

for columnName in processed_df: # loop through columns
    columnSeriesObj = processed_df[columnName]

    if type(columnSeriesObj[0])==str or type(columnSeriesObj[0])==float: # find column with str or object
        # create replacement list
        uniq_value_of_col = []
        uniq_value_of_col = processed_df[columnName].unique()
        num_of_nums = len(uniq_value_of_col)
        replacement_list =  np.arange(num_of_nums)

        # replace elements of list
        processed_df[columnName]=processed_df[columnName].replace(uniq_value_of_col, replacement_list) # replace elements in column
    
processed_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,0,65.0,8450,0,0,0,0,0,...,0,0,0,0,0,0,2,2008,0,0
1,2,20,0,80.0,9600,0,0,0,0,0,...,0,0,0,0,0,0,5,2007,0,0
2,3,60,0,68.0,11250,0,0,1,0,0,...,0,0,0,0,0,0,9,2008,0,0
3,4,70,0,60.0,9550,0,0,1,0,0,...,0,0,0,0,0,0,2,2006,0,1
4,5,60,0,84.0,14260,0,0,1,0,0,...,0,0,0,0,0,0,12,2008,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2915,160,1,21.0,1936,0,0,0,0,0,...,0,0,0,0,0,0,6,2006,0,0
2913,2916,160,1,21.0,1894,0,0,0,0,0,...,0,0,0,0,0,0,4,2006,0,1
2914,2917,20,0,160.0,20000,0,0,0,0,0,...,0,0,0,0,0,0,9,2006,0,1
2915,2918,85,0,62.0,10441,0,0,0,0,0,...,0,0,0,1,1,700,7,2006,0,0
2916,2919,60,0,74.0,9627,0,0,0,0,0,...,0,0,0,0,0,0,11,2006,0,0

Fix missing values

In [6]:
# Remove 2 columns full of NaNs
processed_df=processed_df.drop(columns=['LotFrontage','GarageYrBlt'])

# Check for NaNs 
# findNaN = processed_df[processed_df.isna().any(axis=1)]

# Fill in stupid nan rows with mean..
processed_df = processed_df.fillna(processed_df.dropna().median())

processed_df

,Id,MSSubClass,MSZoning,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,0,8450,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2008,0,0
1,2,20,0,9600,0,0,0,0,0,1,...,0,0,0,0,0,0,5,2007,0,0
2,3,60,0,11250,0,0,1,0,0,0,...,0,0,0,0,0,0,9,2008,0,0
3,4,70,0,9550,0,0,1,0,0,2,...,0,0,0,0,0,0,2,2006,0,1
4,5,60,0,14260,0,0,1,0,0,1,...,0,0,0,0,0,0,12,2008,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2915,160,1,1936,0,0,0,0,0,0,...,0,0,0,0,0,0,6,2006,0,0
2913,2916,160,1,1894,0,0,0,0,0,0,...,0,0,0,0,0,0,4,2006,0,1
2914,2917,20,0,20000,0,0,0,0,0,0,...,0,0,0,0,0,0,9,2006,0,1
2915,2918,85,0,10441,0,0,0,0,0,0,...,0,0,0,1,1,700,7,2006,0,0
2916,2919,60,0,9627,0,0,0,0,0,0,...,0,0,0,0,0,0,11,2006,0,0

## Create Model

Separate Train and Test Sets

In [39]:
dataset = processed_df.values
#train_df.shape

X_train = dataset[:len(train_df),1:]
X_test = dataset[len(train_df):,1:]
Y_train = train_df['SalePrice'].values

# Sanity Check
#print(X_train[-5:,:5],'\n\n',X_test[:5,:5],'\n\n',Y_train[:5])